@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Capriola");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Lato");


[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  
}

html {
  box-sizing: border-box;
  font-size: 75%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1rem;
  background-color:#1F2739;
  min-height: 100vh; 
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1rem;
  text-align: center;
  color: #4dc3fa;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1rem;
  text-align: center;
  display: block;
  padding-bottom: 2rem;
  color: #fb667a;
}

.yellow {
  color: #fff842;
}

.springgreen {
  color: springgreen;
}

.crimson {
  color: crimson;
}

.deepskyblue {
  color: deepskyblue;
}

.darkorange {
  color: darkorange;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  height: 7rem;
  background-color: transparent;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 1rem auto;
}

.logo {
  margin-left: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.container th h1 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
}

.container td {
  font-weight: normal;
  font-size: 1.5rem;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
  color: #fb667a;
}

.container td, .container th {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.container tr:nth-child(odd) {
  background-color: #323c50;
}
.container tr:nth-child(even) {
  background-color: #1f2739;
}

.container th {
  background-color: #1f2739;
  color: #4dc3fa;
  font-size: 1.75rem;
  font-weight: 300;
}

.container tr:hover {
  background-color: #464a52;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.container td:hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;
  box-shadow: #7f7c21 -1px -1px, #7f7c21 -2px -2px, #7f7c21 -3px 3px, #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
  transition-duration: .4s;
  transition-property: all;
  transition-timing-function: line;
}

.footer{
  margin-top: 20px;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}






