[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  background: #fefefe;
  background-attachment: fixed;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
}

.line {
  background: transparent;
}

canvas {
  background-color: transparent;
  position: absolute;
}

#outer-bow {
  fill: rgba(242, 146, 0, 1);
  opacity: 0;
}

#grey-bow-1,
#grey-bow-2,
#grey-bow-3 {
  fill: rgba(156, 154, 155, 1);
  opacity: 0;
}

.yellow {
  color: #ffee00;
}

.springgreen {
  color: darkgreen;
}

.darkgreen {
  color: darkgreen;
}

.deepskyblue {
  color: deepskyblue;
}

.deeppink {
  color: deeppink;
}

.crimson {
  color: crimson;
}

.darkorange {
  color: darkorange;
}

.uppercase {
  text-transform: uppercase;
}

.table {
  margin-top: 4rem;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

thead tr {
  cursor: pointer;
}

.animation-wrapper {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.sphere-animation {
  z-index: 500;
}

.sphere path {
  stroke-width: 1px;
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px;
  }
}

.footer {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
}

.fade-in {
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
